button {
  background-color: #4CAF50; /* Green */
  border: grey;
  color: white;
  margin: 2px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 25%;
}

meter {
  height: 10px;
  width: 100%;
  display: inline-block;
  margin: auto;
}

hr {
  width: 50%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main{
  background-color: white;
  color: black;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
}

.App-footer {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  text-align: right;
  font-size: 10px;
  padding-right: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-buttons {
  width: 100%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.8);
}

.popup-inner {
  border-radius: 25px;
  box-shadow: 5px 10px 100px;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  /* display: flex;
  flex-flow: row wrap; */
}

.popup-header {
  margin: auto;
}

.popup-text {
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.popup-button {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.popup-stats {
  margin: auto;
  margin-top: 20px;
}

.float-left {
  float: left;
  width: 45%;
}

.float-right {
  float: right;
  width: 45%;
}

.greentext {
  font-weight: bold;
  color: green;
}

.redtext {
  font-weight: bold;
  color: red;
}

.greentext-large {
  font-weight: bold;
  color: green;
  font-size: 26px;
}

.redtext-large {
  font-weight: bold;
  color: red;
  font-size: 26px;
}

.note {
  margin: 30px;
  color: grey;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  img {
    width: 200px;
    height: auto;
  }

  button {
    width: 45%;
  }

  meter {
    margin-top: 20px;
    height: 12px;
    width: 100%;
  }

  hr {
    width: 100px;
  }

  .App-main{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow:
      0 1px 1px rgba(0,0,0,0.15),
      0 10px 0 -5px #eee,
      0 10px 1px -4px rgba(0,0,0,0.15),
      0 20px 0 -10px #eee,
      0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 30px;
  }

  .popup-inner {
    left: 5%;
    right: 5%;
    top: 8%;
    bottom: 8%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: lig;
    /* display: flex;
    flex-flow: row wrap; */
  }

  .popup-header{
    margin: auto;
  }

  .popup-text {
    text-align: left;
    margin: auto;
  }

  .popup-button {
    margin-top: 20px;
  }

  .popup-stats {
    margin-top: 20px;
  }

  .float-left {
    width: 40%;
  }

  .float-right {
    width: 40%
  }

  .note {
    margin: auto;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left;
  }

}


/* .healthBar {
  width: 100%;
  height: 20px;
  border: 2px #ccc solid;
}

.healthSection {
  display: inline-block;
  height: 20px;
  font-size: 10pt;
  vertical-align: top;
  text-align: center;
}

.healthSection p {
  margin: 0;
  padding: 3px;
  color: grey;
}

.damage {
  background-color: red;
  float: left;
  opacity: 0;
  animation: fadeout 2s;
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.health {
  float: left;
  background-color: lightgreen;
} */